
body { width: 100%; text-align: center; font-family:"Calibri"; margin: auto 0px;}
body *{ margin: auto 0px;}
header { background: url("img/header.jpg") center; padding: 10px; color: cornflowerblue;}
nav { background-color: cornflowerblue;}
nav ul { padding: 10px;}
nav ul li { display: inline-block; width: 33%;}
a{ text-decoration: none;color: orange; font-size: large;}
a:hover{ color: blueviolet; }
main { margin-bottom: 50px;}
main p { text-align: justify; padding: 10px; font-size: large; color: cornflowerblue;}
main ul { text-align: right; margin-right: 25%;}
h1 { margin-top: 10px; color:  cornflowerblue; }
footer { width: 100%; position:fixed; bottom: 0px; left: 0px; background-color: grey; color: white; padding: 5px; }